<h2 id="character_name"><%= player.name %></h2>

<p id="description">Ses longs cheveux flamboient dans la rosée du matin. Ses yeux brillent d'un teint sans éclat. Un tatouage couleur peau effleure sa nuque....</p>