<h1><%= @player_connected.name %></h1>
<div id="map">
  <% ((@player_connected.posy-5)..(@player_connected.posy+5)).to_a.reverse.each do|y| %>
    <% ((@player_connected.posx-5)..(@player_connected.posx+5)).each do|x| %>
      <div>
        <%= "X" unless @players["#{x};#{y}"].blank? %>
      </div>
    <% end %>
  <% end %>
</div>