<div id="left_side">
  <div id="map">
   <%= render :partial => "map", :locals => { :players => @players, :player_connected => @player_connected, :fields => @fields}  %>
  </div>
  <div id="chat">
    Chat : <%= text_field_tag :chat_text,"" ,:style => "width:70%;"  %>
    <input type="button" value="Envoyer" />
  </div>
</div>
<div id="right_side">
 <%= render :partial => "info", :locals => { :player => @player_connected }  %>
    
</div>
 <dl id="onglets">
    <dt class="current"><img id="info" src="/assets/profil.png" alt="Profil" title="Mon Profil" /></dt>

  </dl>
