<% content_for :section, :weapons %>
<h1>Nouvelle arme</h1>
<%= form_for @weapon, :as => :weapon, :url => admin_weapons_path do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :button => 'Créer'} %>
<% end %>