
<% content_for :section, :feedbacks %>

<h1>Edition du feedback <%= @feedback.subject %></h1>
<%= form_for @feedback, :as => :feedback, :url => admin_feedback_path do |f| %>

  <%= render :partial => 'form', :locals => { :f => f, :button => 'Modifier'} %>
<% end %>