#menu_admin { 
    float:left;
    width:18%;
    height:100%;
    
    margin:0;
    
    
    text-shadow: 1px 1px 4px #DDD;
    background: #CCC;
    
    color:#999;
    box-shadow: 0 0 25px #000;
     
    
    text-align: center;
}
#menu_admin a
{
    text-decoration:none;
    text-shadow: 1px 1px 4px #DDD;
    color:#999;
}
#menu_admin dl,#menu_admin dd
{
    margin:0;
    padding:0;
}
#menu_admin dt
{
    margin:0;
    padding:5px 0;
}
#menu_admin dd:hover, #menu_admin dd.current
{
 background:#999;
 
}
#menu_admin dd:hover a, #menu_admin dd.current ad
{
 color:white;   
}
#menu_admin dt
{
 background:#000;
 color:#FFF;
 margin: 1em 0;
}
#menu_admin a.logout
{
  color:red;
}
#content_admin {
     float:left;
     width:80%; 
     height:100%;
     background:#EFEEFF;
     text-align:center;
     padding:1%;
     
     
}

#content_admin table
{
       border:1px solid #AAA;
    width:80%;
    margin: auto;
    border-collapse: collapse;
        box-shadow: 0 0 25px #000;
}
#content_admin th
{
    background:#999;
}

#content_admin tr.darker
{
    background: #CCC;
}
#content_admin tr.brighter
{
    background: #EEE;
}
#content_admin td
{
    border:1px solid #AAA;
}

.admin_field_item
{
    float:left;
    border:1px solid #CCC;
    margin:5px;
}