#menu_admin { 
    float:left;
    width:18%;
    height:100%;
    
    margin:0;
    
    
    text-shadow: 1px 1px 4px #DDD;
    background: #CCC;
    
    color:#999;
    box-shadow: 0 0 25px #000;
     
    
    text-align: center;
}
#menu_admin a
{
    text-decoration:none;
    text-shadow: 1px 1px 4px #DDD;
    color:#999;
}
#menu_admin dl,#menu_admin dd
{
    margin:0;
    padding:0;
}
#menu_admin dt
{
    margin:0;
    padding:5px 0;
}
#menu_admin dd:hover, #menu_admin dd.current
{
 background:#999;
 
}
#menu_admin dd:hover a, #menu_admin dd.current ad
{
 color:white;   
}
#menu_admin dt
{
 background:#000;
 color:#FFF;
 margin: 1em 0;
}
#menu_admin a.logout
{
  color:red;
}
#content_admin {
     float:left;
     width:80%; 
     height:100%;
     background:#EFEEFF;
     text-align:center;
     padding:1%;
     
     
}

#content_admin table
{
       border:1px solid #AAA;
    width:80%;
    margin: auto;
    border-collapse: collapse;
        box-shadow: 0 0 25px #000;
}
#content_admin th
{
    background:#999;
}

#content_admin tr.darker
{
    background: #CCC;
}
#content_admin tr.brighter
{
    background: #EEE;
}
#content_admin td
{
    border:1px solid #AAA;
}

.admin_field_item
{
    float:left;
    border:1px solid #CCC;
    margin:5px;
}
.terraforming_page
{
    float:left;
    width:70%;
    
}
.terraforming_toolbar
{
    float:right;
    
     background:rgba(10,15,41,0.8);
    
    height:95%;
    overflow: auto;
    width:25%;
    border-bottom-left-radius: 5px;
    color: #d5cece;
    text-shadow: 0px 0px 10px #555;

}
.terraforming_toolbar p, .terraforming_page p, .terraforming_toolbar form
{
    text-align:center;
    margin:auto;
}


.terraforming_option
{
    position:fixed;
    bottom:0;
    left: 0;
    width: 80%;
    background:rgba(221,204,153,0.5);
    border-radius:0 10px 0 0;
    height:2em;
    padding-top:10px;
}
#minimap
{
    position:fixed;
    top:5%;
    left:25%;
    width:500px;
    height:500px;
    background: rgba(255,255,255,0.5);
    display:none;
     box-shadow: 0 0 50px #000;
}