#right_side, #onglets dt.current, #onglets dt:hover,#onglets dt, #chat
{
    /*  -webkit-border-image: url(/assets/wood.png) 50 50 50 50 round round;  
      -o-border-image: url(/assets/wood.png) 50 50 50 50 round round;  
      -moz-border-image: url(/assets/wood.png) 50 50 50 50 round round;  
      border-image: url(/assets/wood.png) 50 50 50 50 round round;  */
    box-shadow: 0 0 25px #000;
}
#left_side
{
    float:left;
    width:70%;
}
#right_side
{


    background:rgba(10,15,41,0.8);
    float:right;
    height:95%;
    overflow: auto;
    width:25%;
    border-bottom-left-radius: 5px;
    color: #d5cece;
    text-shadow: 0px 0px 10px #555;
    font-family: 'Tangerine', cursive;
    font-size: 200%;

}
#onglets
{


    float:right;
    margin:0;


    padding:0;
    height:100%;

}
#onglets dt.current, #onglets dt:hover
{

    background:rgba(10,15,41,0.5);
    border-right:0;
}
#onglets dt
{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background:rgba(10,15,41,0.8);
    width:50px;
    height:50px;
    cursor:pointer;

    border-right:0;
    margin-bottom: 5px;
    text-align:center;
    line-height: 3em;
}
#character_name
{
    text-align: center;
}
#map
{
    box-shadow: 0 0 25px #000;
    width:770px;
    height:770px;
    margin:auto;
}
#map div
{
    margin:0;padding:0;
    float:left;
    width:70px;
    height:70px;
    text-align:center;
    background:url("/assets/fields/grass.png");
}
#chat
{
    position:fixed;
    bottom:0;
    left: 0;
    width: 50%;
    background:rgba(221,204,153,0.5);
    border-radius:0 10px 0 0;
    height:2em;
    padding-top:10px;
}